/**
 * Licensed to the Sakai Foundation (SF) under one
 * or more contributor license agreements. See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership. The SF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License. You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations under the License.
 */

/* Widget Container CSS */
.groupmeetingscheduler_widget {
	padding: 0 12px;
	font-size: 0;
}

/* Dashboard Widget Icon */
.groupmeetingscheduler.s3d-widget .s3d-widget-titlebar .widget_title{
	background: url(/devwidgets/groupmeetingscheduler/images/groupmeetingscheduler_icon.png) 17px 18px no-repeat;
	font-size: 0;
}
.p {
	padding: 0;
	font-size: 12px;
}
.times {
	display: inline-block;
	padding: 3px;
	margin: 3px;
	width:60px;
	vertical-align: middle;	
}
.dayBlock {
	display: inline-block;
	padding: 0;
	margin: 0;
	width:60px;
	vertical-align: middle;
}
.time {
	width: 60px;
	height: 15px;
	text-align: right;
	font-size: 12px;
	padding: 0;
	margin: 0;

}
.timeBlock {
	width: 60px;
	height: 13px;
	border: #ba0000 solid 1px;
	padding: 0;
	margin: 0;	
}
.freetime {
	height: 13px;
	background-color: #18B218;
	border: #006800 solid 1px;
	padding: 0;
	margin: 0;
}
.busytime {
	height: 13px;
	background-color: #F2F2F2;
	border: #ccc solid 1px;
	padding: 0;
	margin: 0;
}
.freetimeBold {
	height: 12px;
	background-color: #18B218;
	border: #006800 solid 1px;
	border-top: #006800 solid 2px;
	padding: 0;
	margin: 0;
}
.busytimeBold {
	height: 12px;
	background-color: #F2F2F2;
	border: #ccc solid 1px;
	border-top: #ccc solid 2px;
	padding: 0;
	margin: 0;
}
